site/src/main/resources/org/soluvas/web/site/ComposeXMI.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:commons="http://www.soluvas.org/schema/commons/1.0" xmlns:compose="http://www.soluvas.org/schema/web.compose/1.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.soluvas.org/schema/web.compose/1.0">
  <xsd:import namespace="http://www.omg.org/XMI" schemaLocation="platform:/plugin/org.eclipse.emf.ecore/model/XMI.xsd"/>
  <xsd:import namespace="http://www.soluvas.org/schema/commons/1.0" schemaLocation="commons.xsd"/>
  <xsd:simpleType name="ContributorState">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="unresolved">
        <xsd:annotation>
          <xsd:documentation>Means the mentioned Bundle is not available.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="failed">
        <xsd:annotation>
          <xsd:documentation>Means the bundle is available, but either the Page or the LiveTarget is not found. (LiveTarget must exist for Page class to be found)</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="resolved"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CreationMode">
    <xsd:annotation>
      <xsd:documentation>How to create ComponentContributor.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="constructor"/>
      <xsd:enumeration value="factory_class"/>
      <xsd:enumeration value="factory_bean"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Placeholder">
    <xsd:annotation>
      <xsd:documentation>Declares a parent component that can be contributed with children.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="compose:Target"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Placeholder" type="compose:Placeholder">
    <xsd:annotation>
      <xsd:documentation>Declares a parent component that can be contributed with children.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType abstract="true" name="Contributor">
    <xsd:complexContent>
      <xsd:extension base="commons:BundleAware">
        <xsd:attribute name="resourceType" type="commons:ResourceType"/>
        <xsd:attribute name="resourceUri" type="xsd:string"/>
        <xsd:attribute name="resourceName" type="xsd:string"/>
        <xsd:attribute name="positioner" type="xsd:int"/>
        <xsd:attribute name="pageClassName" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>Class name of the page that hosts this.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="targetPath" type="xsd:string" use="required"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Contributor" type="compose:Contributor"/>
  <xsd:complexType name="LiveTarget">
    <xsd:complexContent>
      <xsd:extension base="compose:Target">
        <xsd:attribute name="pageClass" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>Note that since bundles that provide a Page and/or ComponentFactory can come and go, a LinkedContributor can be gone at any time as well.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="LiveTarget" type="compose:LiveTarget"/>
  <xsd:complexType abstract="true" name="LiveContributor">
    <xsd:annotation>
      <xsd:documentation>Runtime state, if state is resolved then it is resolved with actual Page class and Factory instance.
Otherwise it may be unresolved or partially resolved.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="compose:Contributor">
        <xsd:attribute name="state" type="compose:ContributorState" use="required"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="LiveContributor" type="compose:LiveContributor">
    <xsd:annotation>
      <xsd:documentation>Runtime state, if state is resolved then it is resolved with actual Page class and Factory instance.
Otherwise it may be unresolved or partially resolved.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="HideContributor">
    <xsd:complexContent>
      <xsd:extension base="compose:Contributor"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="HideContributor" type="compose:HideContributor"/>
  <xsd:complexType abstract="true" name="ComponentContributor">
    <xsd:complexContent>
      <xsd:extension base="compose:Contributor">
        <xsd:attribute name="className" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>The factory will be instantiated to create the component will be named {className}Factory in the same package.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="factoryBean" type="xsd:string"/>
        <xsd:attribute name="creationMode" type="compose:CreationMode"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ComponentContributor" type="compose:ComponentContributor"/>
  <xsd:complexType name="ChildContributor">
    <xsd:complexContent>
      <xsd:extension base="compose:ComponentContributor"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ChildContributor" type="compose:ChildContributor"/>
  <xsd:complexType name="LiveChildContributor">
    <xsd:complexContent>
      <xsd:extension base="compose:ChildContributor">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="placeholder" type="compose:LivePlaceholder"/>
        </xsd:choice>
        <xsd:attribute name="state" type="compose:ContributorState" use="required"/>
        <xsd:attribute name="placeholder" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="LiveChildContributor" type="compose:LiveChildContributor"/>
  <xsd:complexType name="LiveReplaceContributor">
    <xsd:complexContent>
      <xsd:extension base="compose:ReplaceContributor">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="slave" type="compose:LiveSlave"/>
        </xsd:choice>
        <xsd:attribute name="state" type="compose:ContributorState" use="required"/>
        <xsd:attribute name="slave" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="LiveReplaceContributor" type="compose:LiveReplaceContributor"/>
  <xsd:complexType name="ReplaceContributor">
    <xsd:complexContent>
      <xsd:extension base="compose:ComponentContributor"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ReplaceContributor" type="compose:ReplaceContributor"/>
  <xsd:complexType name="LiveComponentContributor">
    <xsd:complexContent>
      <xsd:extension base="compose:LiveContributor">
        <xsd:attribute name="className" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>The factory will be instantiated to create the component will be named {className}Factory in the same package.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="factoryBean" type="xsd:string"/>
        <xsd:attribute name="creationMode" type="compose:CreationMode"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="LiveComponentContributor" type="compose:LiveComponentContributor"/>
  <xsd:complexType name="LiveHideContributor">
    <xsd:complexContent>
      <xsd:extension base="compose:LiveContributor">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="target" type="compose:LiveTarget"/>
        </xsd:choice>
        <xsd:attribute name="target" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="LiveHideContributor" type="compose:LiveHideContributor"/>
  <xsd:complexType name="ComposeCatalog">
    <xsd:complexContent>
      <xsd:extension base="compose:SlaveCollection">
        <xsd:choice maxOccurs="unbounded" minOccurs="0">
          <xsd:element name="placeholders" type="compose:Placeholder"/>
          <xsd:element name="contributors" type="compose:Contributor"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ComposeCatalog" type="compose:ComposeCatalog"/>
  <xsd:complexType name="Slave">
    <xsd:annotation>
      <xsd:documentation>Replaceable component.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="compose:Target"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Slave" type="compose:Slave">
    <xsd:annotation>
      <xsd:documentation>Replaceable component.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="Target">
    <xsd:complexContent>
      <xsd:extension base="commons:ResourceAware">
        <xsd:attribute name="pageClassName" type="xsd:string" use="required"/>
        <xsd:attribute name="path" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>Path of the Component IDs from the Page.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="modelClassName" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>This model will be passed to the Contributor Factory to create the Component.

If it is null, that means the target IModel type is unknown, this can happen when it's a 'hide' contributor,
Target EObject is created dynamically based on runtime reflection.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Target" type="compose:Target"/>
  <xsd:complexType name="PlaceholderCollection">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="placeholders" type="compose:Placeholder"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
  </xsd:complexType>
  <xsd:element name="PlaceholderCollection" type="compose:PlaceholderCollection"/>
  <xsd:complexType name="SlaveCollection">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="slaves" type="compose:Slave"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
  </xsd:complexType>
  <xsd:element name="SlaveCollection" type="compose:SlaveCollection"/>
  <xsd:complexType name="LivePlaceholder">
    <xsd:complexContent>
      <xsd:extension base="compose:LiveTarget"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="LivePlaceholder" type="compose:LivePlaceholder"/>
  <xsd:complexType name="LiveSlave">
    <xsd:complexContent>
      <xsd:extension base="compose:LiveTarget"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="LiveSlave" type="compose:LiveSlave"/>
  <xsd:complexType name="LiveContributorCollection">
    <xsd:annotation>
      <xsd:documentation>Used to inspect the live state of contributors.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="liveContributors" type="compose:LiveContributor"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
    <xsd:attribute name="liveContributors" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="LiveContributorCollection" type="compose:LiveContributorCollection">
    <xsd:annotation>
      <xsd:documentation>Used to inspect the live state of contributors.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="ContributorCollection">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="contributors" type="compose:Contributor"/>
      <xsd:element ref="xmi:Extension"/>
    </xsd:choice>
    <xsd:attribute ref="xmi:id"/>
    <xsd:attributeGroup ref="xmi:ObjectAttribs"/>
  </xsd:complexType>
  <xsd:element name="ContributorCollection" type="compose:ContributorCollection"/>
</xsd:schema>
